.main-wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    margin: 0 10px;
  }
}

.search-field {
  margin-bottom: 15px;
}

.btns-row {
  margin-top: 15px;
}
